## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:/Users/Jackeline/Desktop/Analysis_Projects/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv",index_col="City_ID")
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
5,Souillac,MU,71.98,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
6,Rikitea,PF,72.93,clear sky,-23.1203,-134.9692,People ThankYou
7,Namie,JP,76.71,overcast clouds,37.4833,141.0000,いこいの村なみえ
22,Atuona,PF,77.72,few clouds,-9.8000,-139.0333,Villa Enata
31,Foundiougne,SN,77.77,broken clouds,14.1333,-16.4667,Cap Marniane

In [3]:

# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info_list = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info_list)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary 
#route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[[7]]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[[355]]
vacation_stop2 = vacation_df.loc[[517]] 
vacation_stop3 = vacation_df.loc[[689]]

In [6]:
vacation_start

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
7,Namie,JP,76.71,overcast clouds,37.4833,141.0,いこいの村なみえ

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame 
#using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

In [11]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", 
##"BICYCLING", or "WALKING".
fig = gmaps.figure()
start2end = gmaps.directions_layer(start[0,4:6], end[0,4:6], waypoints = [stop1[0,4:6], stop2[0,4:6],stop3[0,4:6]],travel_mode="DRIVING")
#Adding Layer
fig.add_layer(start2end)
#Draw the map
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Namie,JP,76.71,overcast clouds,37.4833,141.0000,いこいの村なみえ
1,Yuza,JP,75.25,broken clouds,39.0000,139.9167,鶴屋旅館
2,Nara,JP,76.37,light rain,34.6851,135.8049,Guesthouse Nara Komachi
3,Shingu,JP,79.92,heavy intensity rain,33.7333,135.9833,Shingu UI Hotel

In [18]:
#### 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
four_points_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [36]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(40.0, 135.0), zoom_level=4.5)
marker_layer1 = gmaps.marker_layer(locations, info_box_content=four_points_info)
fig.add_layer(marker_layer1)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))